.new-password {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px #b9b9b9;
}

.new-password form {
  text-align: left;
}

.new-password .input-control {
  margin-bottom: 15px;
}

.new-password button {
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
}

.new-password button:focus,
.new-password button:hover {
  outline: none;
  background-color: #f1f1f1;
}

.input-control label {
  display: block;
  width: fit-content;
  margin-bottom: 5px;
}

.input-control input {
  padding: 5px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}

.input-control input:focus {
  outline: none;
  background-color: #f1f1f1;
}
